*{
    margin: 0;
    padding: 0;

}

#startScreen{
    /* display:none;  */
    width: 100%;
    margin-top:25vh; 
  text-align: center
}


h1{
    font-size: 50px;
}
#start{
    font-size: 20px;
    width: 7vh;
    height: 3vh;
   margin:auto;
   padding: auto;
    margin-top: 50px;
    border:5px solid green;
    background-color: gray;
    color:white;
}

#start:hover{
    cursor:grab;
    background-color: green;

}

#question{
    text-align: center;
    margin-top: 10vh;
    font-size: xx-large;
}

#answers{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.ansBlock{
    margin:2vh;
    padding: 8vh;
    border: 2px solid black;
    
}

.ansBlock:hover{
cursor:grab;
background-color: gray;
}

#checker{
    margin:auto;
    padding:1vh;
    width:100%;
    padding-left:30%;
    padding-right: 30%;
    border: 5px solid black;
    margin-top: 3vh;
    text-align: center;
    width: 10vh;
}

#timer {
    margin:auto;
    padding:1vh;
    width:100%;
    padding-left:30%;
    padding-right: 30%;
    border: 5px solid black;
    margin-top: 3vh;
    text-align: center;
    width: 12vh;
}

#score{
    text-align: center;
    margin-top: 40vh;
}

#scoreInput{
    margin-top: 20px;
}

#highScore{
    margin:5px;
    margin-top:3vh;
    padding:auto;
    min-height: 200px;
    height: 20%;
    border:5px solid black;

}

#scoreList{
    margin-left:2vh
}
ul li{
    font-size: larger;
}